    * {
        font-family: 'Montserrat', sans-serif;
    }
    
    html {
        overflow-y: scroll;
        overflow-x: hidden;
        min-width: 480px;
    }
    
    body::-webkit-scrollbar {
        width: 0;
    }
    
    body {
        -ms-overflow-style: none;
        margin-bottom: -15px;
    }
    
    button,
    button:active {
        outline: 0;
        border: 0;
        background: none;
        cursor: pointer;
    }
    
    .line-img {
        margin: 50px auto;
        width: 55%;
    }
    
    .line-img1 {
        width: 80%;
        margin: 20px auto;
        height: 7px;
    }
    
    .modal-body {
        padding: 0;
    }
    
    .part1-1 {
        display: flex;
        width: 90%;
        margin: 0 auto;
    }
    
    .part1-1-img2,
    .part1-1-img1,
    .part1-1-h1 {
        padding: 7px;
    }
    
    .part1-1-img2 {
        height: 85px;
        position: relative;
        top: 30px;
    }
    
    .part1-1-h1 {
        position: relative;
        top: 30px;
    }
    
    .part1-1-img3 {
        position: relative;
        top: 30px;
        width: 95%;
        margin: 0 auto;
    }
    
    .part1-2 {
        width: 75%;
        margin: 50px auto;
        font-size: 23px;
        text-align: center;
    }
    
    .part2-img {
        width: 75%;
        margin: 50px auto 60px auto;
    }
    
    .part2-h1 {
        font-size: 42px;
        margin: 0 auto;
        width: 75%;
        text-align: center;
    }
    
    .part2-1 {
        margin: 50px 0px 20px 0px;
        display: flex;
        position: relative;
        left: 5%;
    }
    
    .part2-1-1,
    .part2-1-2,
    .part2-1-3 {
        display: flex;
        flex-direction: column;
    }
    
    .part2-1-1 {
        width: 17%;
        margin-right: 10%;
        margin-left: 5%;
    }
    
    .part2-1-2 {
        width: 29.5%;
        margin-right: 3%;
    }
    
    .part2-1-3 {
        width: 27.5%;
    }
    
    .part2-2 {
        display: flex;
        text-align: center;
    }
    
    .part2-2-p1 {
        padding: 25px 5px;
        width: 165%;
        text-align: center;
        position: relative;
        right: 40px;
        font-size: 15px;
    }
    
    .part2-2-p2 {
        width: 100%;
        padding: 25px 5px;
        text-align: center;
        font-size: 15px;
    }
    
    .part2-2-p3 {
        width: 110%;
        padding: 10px 5px;
        text-align: center;
        font-size: 15px;
    }
    
    .part3-h1 {
        font-size: 40px;
        margin: 0 auto;
        width: 75%;
        text-align: center;
    }
    
    .part3-1 {
        display: flex;
        width: 95%;
        margin: 20px auto;
    }
    
    .part3-1-img {
        width: 50%;
        padding: 10px;
    }
    
    .part3-1-p {
        width: 50%;
        padding: 10px;
        font-size: 16px;
    }
    
    .part4-1 {
        display: flex;
        margin: 0 auto;
        width: 80%;
        margin-top: 30px;
    }
    
    .part4-1-img {
        width: 30%;
        padding: 15px;
    }
    
    .part4-1-p {
        width: 70%;
        font-size: 18px;
        padding: 30px 15px 15px 15px;
    }
    
    .part4-2 {
        display: flex;
        margin: 0 auto;
        width: 80%;
    }
    
    .part4-2-img {
        width: 40%;
        padding: 15px;
    }
    
    .part4-2-p {
        width: 60%;
        font-size: 18px;
        padding: 55px 15px 15px 5px;
    }
    
    .part5-p {
        width: 80%;
        font-size: 22px;
        text-align: center;
        margin: 40px auto;
    }
    
    .part5-img1 {
        width: 100%;
    }
    
    .part5-img2 {
        width: 80%;
        position: relative;
        left: 13.5%;
        margin: 50px 0px;
    }
    
    .part6-p1 {
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        margin: 0px;
    }
    
    .part6-p2 {
        text-align: center;
        font-size: 35px;
        color: #e8ad43;
        margin-bottom: 20px;
        font-weight: 600;
    }
    
    .part6-img1 {
        margin: 0 auto;
    }
    
    .part6-img2 {
        width: 100%;
    }
    
    @media (max-width: 991px) {
        .part1-1 {
            display: flex;
            flex-direction: column;
        }
        .part1-1-img1 {
            width: 60%;
            margin: 0 auto;
        }
        .part1-1-img2 {
            display: none;
        }
        .part1-1-h1 {
            font-size: 35px;
            margin: 0 auto;
            text-align: center;
        }
        .part1-2 p {
            font-size: 20px;
        }
        .part2 {
            display: flex;
            flex-direction: column;
        }
        .part2-h1 {
            font-size: 30px;
        }
        .part2-1 {
            flex-direction: column;
        }
        .part2-2-p1 {
            width: 300%;
            position: relative;
            right: 100%;
        }
        .part2-2-p2 {
            width: 150%;
            position: relative;
            right: 30%;
        }
        .part2-2-p3 {
            width: 170%;
            position: relative;
            right: 40%;
            padding-top: 20px;
        }
        .part2-1-1 {
            width: 28%;
            position: relative;
            left: 26%;
        }
        .part2-1-2 {
            width: 48%;
            position: relative;
            left: 23%;
        }
        .part2-1-3 {
            width: 45%;
            position: relative;
            left: 25%;
        }
        .part3-h1 {
            font-size: 25px;
            text-align: center;
        }
        .part3-1 {
            display: flex;
            flex-direction: column;
        }
        .part3-1-img {
            width: 70%;
            margin: 0 auto;
        }
        .part3-1-p {
            width: 95%;
            margin: 0 auto;
            text-align: center;
        }
        .part4-1 {
            flex-direction: column;
            width: 100%;
        }
        .part4-1-img {
            width: 40%;
            margin: 0 auto;
        }
        .part4-1-p {
            width: 95%;
            margin: 0 auto;
            text-align: center;
        }
        .part4-2 {
            display: flex;
            flex-direction: column;
        }
        .part4-2-img {
            width: 70%;
            margin: 0 auto;
            order: 1;
        }
        .part4-2-p {
            width: 95%;
            margin: 0 auto;
            text-align: center;
            order: 2;
        }
    }
    
    @media (max-width: 576px) {
        .part2-h1,
        .part3-h1 {
            font-size: 22px;
        }
        .part5-p {
            font-size: 18px;
        }
    }
    
    .part7-1 {
        display: flex;
        width: 60%;
        margin: 0;
    }
    
    .part7-1-h1 {
        position: relative;
        bottom: -22%;
    }
    
    .part7-1-img2 {
        height: 90px;
        position: relative;
        top: 30px;
        left: 2%;
    }
    
    .part7-1-img3 {
        position: relative;
        bottom: -15%;
    }
    
    .part7-1-p {
        font-size: 29px;
        position: relative;
        bottom: -13%;
    }
    
    .part7-1-img2,
    .part7-1-img1 {
        padding: 7px;
    }
    
    .part7-1-1 {
        margin-left: 1.5%;
    }
    
    .part7-2 {
        margin: 30px auto;
        width: 80%;
        text-align: center;
        font-size: 22px;
    }
    
    .part7-3 {
        width: 100%;
    }
    
    .part7-4 {
        font-weight: 600;
        text-align: center;
        margin-top: 50px;
        font-size: 25px;
    }
    
    .part8 {
        display: flex;
        justify-content: space-around;
        width: 75%;
        margin: 30px auto;
    }
    
    .part8-1,
    .part8-2,
    .part8-3 {
        display: flex;
        flex-direction: column;
        width: 20%;
        text-align: center;
    }
    
    .part8-2 p {
        width: 130%;
        position: relative;
        right: 20%;
    }
    
    @media (max-width: 991px) {
        .part7-1 {
            display: flex;
            flex-direction: column;
        }
        .part7-1-img2 {
            display: none;
        }
        .part7-1-img1 {
            width: 60%;
            margin: 0 auto;
        }
        .part7-1-img3 {
            margin: 0 auto;
        }
        .part7-1-h1 {
            font-size: 35px;
            margin: 0 auto;
            text-align: center;
        }
        .part7-1-p {
            font-size: 20px;
            text-align: center;
        }
        .part8 {
            flex-direction: column;
        }
        .part8-1,
        .part8-2,
        .part8-3 {
            width: 35%;
            margin: 0 auto;
        }
    }
    
    @media (max-width: 576px) {
        .part7-2 {
            font-size: 18px;
        }
    }
    
    .part9-h2 {
        margin: 20px 85% 20px 15%;
    }
    
    .part9-p {
        width: 85%;
        margin: 0 auto;
        font-size: 19px;
    }
    
    .part9-img {
        margin-top: -5%;
        width: 100%;
    }
    
    .part10-h2 {
        margin: 20px 8% 20px 15%;
    }
    
    .part10-p1,
    .part10-p2 {
        width: 38%;
        margin-left: 7.5%;
    }
    
    .part10-img {
        margin-top: -40%;
        width: 100%;
    }
    
    @media (max-width: 991px) {
        .part9-h2 {
            position: static;
            text-align: center;
            margin: 40px auto 15px auto;
            font-size: 30px;
        }
        .part9-p {
            font-size: 15px;
        }
        .part9-img {
            margin-top: 0;
        }
        .part10-h2 {
            position: static;
            text-align: center;
            margin: 20px auto;
            font-size: 30px;
        }
        .part10-p1 {
            width: 85%;
            margin: 0 auto;
            font-size: 15px;
        }
        .part10-p2 {
            font-size: 15px;
        }
    }
    
    .part11 {
        display: flex;
        flex-direction: column;
        width: 85%;
        margin: 0 auto;
        font-size: 18px;
    }
    
    .part11-p1 {
        color: grey;
        text-align: center;
        font-size: 22px;
        margin-top: 20px;
        margin-bottom: 0;
    }
    
    .part11-p2 {
        color: #e8ad43;
        font-size: 22px;
        text-align: center;
        margin-bottom: 30px;
    }
    
    .part11-1,
    .part11-2,
    .part12-1,
    .part12-2 {
        display: flex;
    }
    
    .part11-1 p,
    .part11-2 p,
    .part12-1 p,
    .part12-2 p {
        margin: calc(20%/2) 0;
    }
    
    .part11-1 img,
    .part11-2 img,
    .part12-1 img,
    .part12-2 img {
        height: 20%;
    }
    
    .part11-1 p,
    .part12-1 p {
        padding-left: 20px;
    }
    
    @media (max-width: 991px) {
        .part11-p1 {
            margin-top: 50px;
        }
        .part11-1,
        .part11-2,
        .part12-1,
        .part12-2 {
            flex-direction: column;
        }
        .part11-2 p,
        .part12-2 p {
            order: 1;
        }
        .part11-1 img,
        .part11-2 img,
        .part12-1 img,
        .part12-2 img {
            width: initial;
            margin: 0 auto;
        }
        .part11 p {
            text-align: center;
        }
    }
    
    @media (max-width: 455px) {
        .part1-1-h1,
        .part7-1-h1 {
            font-size: 30px;
        }
        .part11-p1,
        .part11-p2 {
            font-size: 18px;
        }
        .part11-1 p,
        .part11-2 p,
        .part12-1 p,
        .part12-2 p {
            font-size: 15px;
        }
        .part8-1 p,
        .part8-2 p,
        .part8-3 p {
            font-size: 12px;
        }
    }